<style>
    .button-l {
        margin-left: 46%;
        padding: 10px 15px;
        width: 90px;
        border-radius: 50%;
        
        
         }
</style>
<link rel="stylesheet" href="./public/css/style.css">
<h1 class="mt-4 text-center">You're Logged In!</h1>
<p class="lead mb-3 text-center">Hello <%= user.name %>!</p>
<a href="/users/logout" class="btn btn-secondary button-l">Logout</a>